{% extends 'base.html.twig' %}

{% block body %}
    <br>
    <h2>Hello world!</h2>

    <p>Private area.</p>

    <h1>You're the boss ;)</h1>

    <a href={{ absolute_url("/users") }}>Free area</a>
    <a href={{ absolute_url("/users/logout") }}>Logout</a>

    <br>
    <br>
{% endblock %}